
    <h1 style = "color : rgb(121, 196, 7)"> Current Scenerio: </h1> 
    <h1> {{current_scenerio}} <br></h1>

    <h1 style="color: rgb(218, 30, 30) "> Target Scenerio (optional): </h1>
    <h1>{{target_scenerio}} <br></h1>

    <h1 style="color: blueviolet">Total Profit till date:</h1>
    <h1>{{net_profit}}</h1>

    <h1 style="color: orange"> Investment: </h1>
    <h1>total stocks: {{total_stocks}}, net_investment : {{net_investment}}, Apparant share price per share : {{apparant_share_price}} RS</h1>

    <h1 style="color: rgb(229, 17, 236)"> Current Buying Condition: </h1>
    <h1>if {{investment_to_add}} RS is added then Apparant avg share price: {{effective_apparant_share_price_at_cmp}} RS and shares to buy: {{stocks_can_be_purchased_at_cmp}}</h1>
 