    <h1 style="color: rgb(2, 204, 245) "> Economic Scenerio</h1>
    <h1>{{economic_scenerio}} <br></h1>

    <h1 style = "color : rgb(121, 196, 7)">
    Current Scenerio: </h1> 
    <h1> {{current_scenerio}} <br></h1>

    <h1 style="color: rgb(218, 30, 30) "> Target Scenerio: </h1>
    <h1>{{target_scenerio}} <br></h1>

    <h1 style="color: blueviolet">Total Profit till date:</h1>
    <h1>{{net_profit}}</h1>

    <h1 style="color: orange">Investment</h1>
    <h1>total stocks: {{total_stocks}}, net_investment : {{net_investment}}</h1>